.success-message{
    color: green;
    border: 1px solid green;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
/* styles.css or your preferred stylesheet */
/*button {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  */